
img.icon-sidebar{
    height: 85px;
    width: 85px;
    margin-left:10px;
    /*animation: image 1s 1;*/
    display: block;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #272828;
    color: #fff;
    transition: all 0.3s;
    margin-left: 0px;
    display: none;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 5px;
    background: #6d7fcc;
}

#sidebar ul.components {
    /*text-decoration: none;*/
    margin-top: 50px;
    padding: 20px 0;
    /*border-bottom: 1px solid #47748b;*/
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #026267;
    padding: 8px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #007a81;
    background: #efefef; 
}

#footer{
    display: block;
}
#topbar{
    display: none;
}

@media (max-width: 800px) {
    #sidebar {
        margin-left: -250px;
        display: block;
    }
    #sidebar.active {
        margin-left: 0px;
    }

    #footer{
        display: none;
    }
    #topbar{
        display: block;
    }

}



.nav-cst{
    background-color: #272828 !important;
    box-shadow: 0 -5px 5px -5px #333
    /*box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);*/
}


.block{
    animation: scaledown .4s linear;
    animation-fill-mode: forwards;
}
.block:hover{
    /*z-index: 100;*/
    animation: scale .4s linear;
    animation-fill-mode: forwards;
}

@keyframes scaledown{
    0%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(0.5);
    }
}

@keyframes scale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}

/*---------------- ICON INDEX -------------------*/

img.icon{
    height: 150px;
    width: 150px;
    margin-right: 20px;
    animation: image 1s 1;
}

@keyframes image{
    0%{
        margin-right: 20px;
        margin-left: 20px;

    }
    10%{
        margin-right: 10px;
        margin-left: 10px;

    }
    
}
@media (max-width: 800px) {
    img.icon{
        height: 100px;
        width:100px;
        animation: image 1s 1;
    }

}

@media (max-width: 800px) {
    img.icon{
        height: 90px;
        width:90px;
        animation: image 1s 1;
    }

}



/*----------------- ICON SIDEBAR ------------------*/

img.icon-sidebar{
    height: 85px;
    width: 85px;
    margin-left:10px;
    /*animation: image 1s 1;*/
}

/*----------------- ICON BOTTOM NAVBAR ------------------*/

img.icon-navbar-btm{
    height: 85px;
    width: 85px;
    margin-left:10px;
    /*animation: image 1s 1;*/
}

.block-navbar-btm{
    animation: first .2s linear;
    animation-fill-mode: forwards;
}
.block-navbar-btm:hover{
    /*z-index: 100;*/
    animation: second .2s linear;
    animation-fill-mode: forwards;
}


@keyframes first{
    0%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes second{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
}


/*--------- FOOTER -----------*/

footer{
    background-color: #0a474b !important;
    color: #fff;    
}



/* -------- HOME, LOGOUT, NOTIF -------- */

.notifbell{
    position: fixed; 
    top:50px !important; 
    left:3px;
    display: block;
    z-index: 100 !important;
}
.home{
    position: fixed; 
    top:3px; 
    left:3px;
    display: block;
}

.logout{
    position: fixed; 
    top:3px; 
    right:3px;
    display:block;

}
@media (max-width: 800px) {
    .home{
        display:none;
    }
    .logout{
        display:none;
    }
    .notifbell{
        display:none;
    }
    #content{
        margin-top: 0px;
    }

}

/*---------- FOR TOOLTIP -------*/

.logouttool {
  position: relative;
  display: inline-block;

}
.logouttool .log-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #00570a;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top: 2px;
  right: 110%; 
  z-index: 1;
}

.logouttool .log-tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; 
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #00570a;
}

.logouttool .log-tooltiptext {
  opacity: 0;
  transition: opacity .4s;
}

.logouttool:hover .log-tooltiptext {
  opacity: 1;
}

.logouttool:hover .log-tooltiptext {
  visibility: visible;
}



/*---------- FOR TOOLTIP -------*/
.hometool {
  position: relative;
  display: inline-block;

}
.hometool .home-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #00570a;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  
  position: absolute;
  top: 2px;
  left: 110%;  
  z-index: 1;
}

.hometool .home-tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; 
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #00570a transparent transparent;
}

.hometool .home-tooltiptext {
  opacity: 0;
  transition: opacity .4s;
}

.hometool:hover .home-tooltiptext {
  opacity: 1;
}

.hometool:hover .home-tooltiptext {
  visibility: visible;
}

/*---------- FOR NOTIFICATION TOOLTIP -------*/
.notifbelltool {
  position: relative;
  display: inline-block;

}
.notifbelltool .notifbell-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #00570a;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  
  position: absolute;
  top: 2px;
  left: 110%;  
  z-index: 1;
}

.notifbelltool .notifbell-tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; 
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #00570a transparent transparent;
}

.notifbelltool .notifbell-tooltiptext {
  opacity: 0;
  transition: opacity .4s;
}

.notifbelltool:hover .notifbell-tooltiptext {
  opacity: 1;
}

.notifbelltool:hover .notifbell-tooltiptext {
  visibility: visible;
}

