
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #efefef; /* #343434;*/
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/*LOGIN*/

div.login {
    display: none;
}
.login-logo {
    width: 400px;
    height:450px;
    margin-top: 10%;
}

.login-form{
    margin-top: 20%;
}
.login-title{
    color: #007a81;
}


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}



#content {
    width: 100%;
    /*padding: 20px;*/
    min-height: 100vh;
    transition: all 0.3s;      
}

#content-body {
    width: 100%;
    padding: 0px 20px;
    min-height: 100vh;
    transition: all 0.3s;      
}




.btn-darkgreen-ctm{
    color: #003d48;
    background-color: white;  
    border-color: white;
}

.btn-darkgreen-ctm:hover{
    background-color: #003d48!important;
    border-color: #003d48 !important;
    color:white;    
}

.btn-darkgreen-ctm:active{
    background-color:#003d48 !important;
    border-color: #003d48 !important;
    box-shadow:0 0 0 .2rem #138496 !important;
    color:white;
}

.btn-darkgreen-ctm:focus{
    background-color:#003d48 ;
    border-color: #003d48 !important;
    box-shadow:0 0 0 .2rem #138496;
    color:white;
}


.card{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.card-body{

    font-size: 14px; 
}
.card-header{
    background-color: #007a81;  /*#7344e2*/
    color: white;
}

.form-control:focus{
    box-shadow:0 0 0 .1rem #00570a!important;
    border-color: #00570a !important;
}
.form-control:active{
    box-shadow:0 0 0 .2rem #00570a!important;
    border-color: #00570a !important;
}




.change-btn:hover, .change-btn:active, .change-btn:focus{
    background-color: #fff !important;
    color: black;
    border: 1px solid white !important;
    box-shadow:0 0 0 .2rem #cccccc !important; 
}


.nav-tabs-cst{
    border-bottom: 1px solid #00570a !important; /* #7386D5*/
}

.nav-cst{
    color: #6d6d6d;
}

.nav-cst.active, .nav-cst:active, .nav-cst:hover{
    background-color: #00570a !important;/* #7386D5*/
    color:white !important;
    border-bottom: 1px solid #00570a !important; /* #7386D5*/
}


@media (max-width: 768px) {
    .nav-cst, th, td{
        font-size: .7em;
    }
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
}

label{
    font-weight: bold;
}


th{
    background-color: #007a81;
    color: white;
}



/*registratio*/
.regis_font .btn{
    font-size:14px !important;
    text-align: center;
}

.hr-cst{
    width:100%; 
    text-align:center; 
    border-bottom: 1px solid #999; 
    line-height:0.1em; 
    margin:40px 0 20px;
}

.hr-cst span{
    background:#efefef; 
    padding:0 10px; 
    color: #999
}
/*-------------------------*/



/*---------------IMAGE UPLOAD-------------- */
.label-form9{
    margin-top: 10px;
    background-color:#007a81; 
    color: white !important;
    padding: 10px;
    border-radius: 5px;
}
.label-form9:hover{
    cursor:pointer;
    background-color:#06494d;
    transition: 0.3s;
}


#form9{
    display: none;
}


/*---------------GRADES-------------------*/
.card-bg{
    background-color: #003d48;
}
.card-bg .card-body span{
    color:white;
}


/*---- */
.hr-cst{
    width:100%; 
    text-align:center; 
    border-bottom: 1px solid #999; 
    line-height:0.1em; 
    margin:40px 0 20px;
}

.hr-cst span{
    background: white; 
    padding:0 10px; 
    color: #999
}


/*---DASHBOARD ----- */
.btn-dash{
    border: 1px solid #efefef;
    background-color: #efefef ;
    color:#999;
    width: 250px;
    height: 50px;
}

.btn-dash:hover{
    border: 1px solid #007a81;
    background-color: #007a81;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
}

.center{
    text-align: center;
}
.center span{
    display:block;
}

.welcome{
    color: #007a81;
    font-size: 50px;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background-color: #efefef;
    /*position:relative;*/
    /*animation: text 2s 1;*/
}
.prof-name{
    font-size: 25px;
    color: #007a81;
}

/*@keyframes text{
    0%{
        color: black;
        margin-bottom: -40px;
    }
    40%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}
*/

