@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

@media (max-width: 992px){

}

@media (max-width: 768px){

}

@media (max-width: 576px){

}

.logo{
	width: 200px;
	height: 200px;
}
.welcome{
	margin-top: 35px;
    margin-left: 25px;
    color: #007a81;
    font-size: 50px;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background-color: transparent;
    position: relative;
    animation: text 2s 1;
}


.carousel-item img{
	width: 100%;
}

[class*="col-"] {
	padding: 1rem;
}

.navbar{
	background-color: white !important;
}


li a:hover{
	color: #007a81 !important;
}

@media (max-width: 400px) {
    .welcome{
    	font-size: 10px !important;
    	margin-left: 0px;
    }
    .navbar-toggler{
    	font-size: 10px;
    }
    .logo{
    	width: 30px !important;
    	height: 30px !important;
    }

}

@media (max-width: 800px) {
    .welcome{
    	font-size: 20px ;
    }
    .logo{
    	width: 100px;
    	height: 100px;
    }

}

@media (max-width: 1300px) {
    .welcome{
    	font-size: 20px ;
    }
    .logo{
    	width: 100px;
    	height: 100px;
    }

}


footer{
	background-color: #0a474b;
	color:white;
}

i{
	font-size: 30px !important;
	margin-right: 10px;
	color:white;
}

i:hover{
	cursor: pointer;
	transition: 0.4s; 
    animation: second .2s linear;
    animation-fill-mode: forwards;
}

@keyframes second{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
}

.modal-title{
	color: #007a81;
	margin-top: 15px;
	margin-left: 30px;
}
.modal-body{
	background-color: #007a81;
}

.btn-outline-light:hover{
	color: #007a81;
}