.contnt{
	padding: 20px;
}
.icon{
	height: 30px;
	width: 30px;
}
input{
	margin-top:5px;
	margin-bottom: 5px;
}
#example tr:nth-child(even) {background-color: #f2f2f2;}
#keywords tr:nth-child(even) {background-color: #f2f2f2;}