
.logo {
    width: 250px; 
    height: 50px; 
    padding-left:15px;
}

.navbar {
    padding: 10px;
    background: white !important;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}



#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #007a81;
    color: #fff;
    transition: all 0.3s;
    margin-left: 0px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 5px;
    background: #6d7fcc;
}

#sidebar ul.components {
    margin-top: 50px;
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    border-bottom: 1px solid #026267;
    padding: 8px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #007a81;
    background: #efefef; 
}




#sidebar-regis {
    min-width: 250px;
    max-width: 250px;
    background: #007a81;
    color: #fff;
    transition: all 0.3s;
    margin-left: -250px;
}

#sidebar-regis.active {
    margin-left: 0px;
}

#sidebar-regis .sidebar-regis-header {
    padding: 5px;
    background: #6d7fcc;
}

#sidebar-regis ul.components {
    margin-top: 50px;
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar-regis ul p {
    color: #fff;
    padding: 10px;
}

#sidebar-regis ul li a {
    border-bottom: 1px solid #026267;
    padding: 8px;
    font-size: 1.1em;
    display: block;
}

#sidebar-regis ul li a:hover {
    color: #007a81;
    background: #efefef; 
}


.notif-badge{
    background-color: #003d48 !important;
    padding: 4px 10px;
    border-radius: 50%;
}



@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


.notif-bell{
    border-radius: 50%;
}
.menu-right{
    padding-left:5px;
}
#main-menu{
    display: block;
}
.components-edit li{
    text-align: center;
}
.sidebar-header-edit {
    padding: 20px;
    background: #0b0b0b;
}


.btn-menu-ctm{
    color: #fff;
    background-color: #003d48 !important;  
    border-color: #003d48;
    background-color: white;  
    border-color: white;
}


.btn-menu-ctm:hover{
    background-color: #003d48!important;
    border-color: #138496 !important;
    color:white;    
}

.btn-menu-ctm:active{
    background-color:#003d48 !important;
    border-color: #003d48 !important;
    box-shadow:0 0 0 .2rem #138496 !important;
    color:white;
}

.btn-menu-ctm:focus{
    background-color:#003d48 ;
    border-color: #003d48 !important;
    box-shadow:0 0 0 .2rem #138496;
    color:white;
}

@media (max-width: 768px) {
    .btn-menu-ctm{
        color: #fff;
        background-color: #003d48 !important;  
        border-color: #003d48;
        background-color: white;  
        border-color: white;
    }
}
